body{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 1080px;
}

body h1{
	margin-top: 10px;
}
 h1,h2{
  color: #3399ff
;
}

a:link, a:visited{
  text-decoration: none;
  color: blue;
  font-weight:bold;
}

a:hover{
  color: black;
}

 nav ul{
  list-style-type: none;
  padding: 0;
	height: 30px;

}

nav li{
  display: inline;
  float: left;

}

nav a:link, nav a:visited{
  background-color: #16439c	;
  color: white;
  display: block;
  width: 120px;
  text-align: center;
  padding: 0px;
}

nav a:hover{
  background-color: #6699ff;
}


header{
  background-image: url("img/crystal-859317_1280.jpg");
  height: 98px;
  margin-bottom: 10px;
}


 header h1{
 	color: rgba(256,256,256,.8);
 	margin-left: 30px;
 	margin-top: 30px;
 	font-size: 50px;
 }

 main h1{
	 padding-top: 30px;
 }

aside {
	float: right;
	text-align: center;
	background-color: #cce6ff;
	font-weight: bold;
	width: 350px;
	margin-left: 30px;
	padding: 25px;

}


 footer{
 	margin:40px 0;
 }

 footer nav a:link, footer nav a:visited{
 	color:gray;
 	text-decoration: none;
 	display:block;
 	width:120px;
 	text-align: center;
 	background-color: white;
 }

 footer nav a:hover{
 	color: black;
 }
